html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.curly-background {
  display: none;
  @media (max-aspect-ratio: 3/4) {
  }
  @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
  }
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
  }
  @media (min-aspect-ratio: 4/3) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.bracket {
  height: 50vh;
  width: auto;
}

.left-bracket .drawing {
  stroke-dashoffset: 51;
}

.right-bracket .drawing {
  stroke-dashoffset: -51;
}

.centered-content {
  padding: 1.5rem;
}

.drawing {
  stroke-dasharray: 51;
  animation: draw 1.25s 2.75s cubic-bezier(0.78, 0, 0.22, 1) forwards;
  stroke: var(--jet-black);
  stroke-width: 1;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    stroke-width: 4;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 100%;
  margin: 0;
}

h3 {
  font-size: 2rem;
  line-height: 100%;
  margin: 0.25rem 0;
}

p {
  text-wrap: balance;
}

li {
  list-style: none;
}

.gigantic-title--container {
  @media (min-aspect-ratio: 3/4) {
    margin-top: 1.5rem;
  }

  padding: 0.5rem;
}

.gigantic-title--title {
  font-size: clamp(1rem, 2rem + 8vw, 10rem);
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 115%;
  transition: all 0.5s;
}

.gigantic-title--title:hover {
  letter-spacing: -0.3rem;
}

.gigantic-title--title--first-name {
  display: block;
  width: fit-content;
  animation: slideOuterRight 1s;

  @media (min-width: 118.75rem) {
    animation:
      slideOuterRight 1s,
      slideOutRight cubic-bezier(0.25, 0, 0.75, 1) 45s 1s alternate infinite;
  }

  margin-right: auto;
  @media (max-aspect-ratio: 3/4) {
    margin-left: auto;
  }
}

.gigantic-title--title--last-name {
  display: block;
  width: fit-content;
  animation: slideOuterLeft 1s 0.25s backwards;
  margin-left: auto;
  @media (max-aspect-ratio: 3/4) {
    margin-right: auto;
  }

  @media (min-width: 118.75rem) {
    animation:
      slideOuterLeft 1s 0.25s backwards,
      slideOutLeft cubic-bezier(0.25, 0, 0.75, 1) 45s 1.25s alternate infinite;
  }
}

.gigantic-subtitle--sheet-container {
  margin-left: auto;
  margin-right: auto;
  animation: slideOuterUp 1s 0.5s backwards;
}

.gigantic-subtitle--title {
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: clamp(1rem, -1.5rem + 8vw, 2.5rem);
  color: grey;
}

.gigantic-subtitle--title span {
  color: darkslategrey;
}

.subtitle-container {
  @media (min-aspect-ratio: 3/4) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  padding: 0.5rem;
  overflow: hidden;
}

.sheet-container {
  position: relative;
  max-width: 100%;
  width: 40rem;
}

.sheet {
  position: absolute;
  min-width: 100%;
  width: fit-content;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s;
  transform-origin: 50% 0;
  box-shadow: var(--shadow-elevation-low);
}

.aboutme-stacks--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  @media (max-aspect-ratio: 3/4) {
    grid-template-columns: 1fr;
  }
  align-items: center;
  padding: 1rem;
}

.code-box {
  margin: auto;
  max-width: 30rem;
  border-radius: 4px;
  background-color: var(--vscode-content-bg);
  box-shadow: var(--shadow-elevation-medium);
}

.sliding-outer-right {
  animation: slideOuterRight 1s 1.25s backwards;
}

.opening-down {
  animation: slideOuterUpAndGrow 4s 2.25s both;
}

.code-box--header {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
  gap: 0.4rem;
  border-bottom: 1px solid var(--vscode-top-bar-border);
  background-color: var(--vscode-top-bar-bg);
  border-radius: 4px;
}

.code-box--header h3 {
  font-size: 0.625rem;
  font-weight: 700;
  font-family: monospace;
  color: var(--vscode-top-bar-text);
  letter-spacing: normal;
  line-height: 100%;
}

.code-box--icon {
  height: 1rem;
  width: 1rem;
  background-color: #00a1f1;
  mask: url("../assets/svg/infinite.svg") no-repeat center;
  -webkit-mask: url("../assets/svg/infinite.svg") no-repeat center;
  mask-size: 100%;
}

.code-box--body {
  padding: 0.5rem 1rem;
  background-color: var(--vscode-content-bg);
  border-radius: 4px;
}

.code--text {
  font-family: monospace;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}

.code--text--typing {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: #0000;
  background:
    linear-gradient(-90deg, var(--vscode-content-text) 5px, #0000 0) 10px 0,
    linear-gradient(var(--vscode-content-text) 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation:
    typer-caret 0.5s infinite steps(1),
    typer calc(var(--n) * 0.03s) 1.5s steps(var(--n)) backwards;
}

.code--text--standard {
  color: var(--vscode-content-text);
}

.code--text--standard li {
  list-style: disc;
}

.front-sheet {
  position: relative;
  transform: perspective(800px) rotate(0);

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 1.25rem;
    height: 1.25rem;
    bottom: 0;
    right: 0;
    border-radius: 100% 0 8px 0;
    transform-origin: 100% 100%;
    --kf-scale: 1.1;
    opacity: 1;
    animation: scaleXY 0.75s infinite alternate;
    transition: opacity 0.2s;
  }
}

.sheet-container:hover .front-sheet {
  transform: perspective(800px) rotateX(90deg);

  &:after {
    opacity: 0;
  }
}

.back-sheet {
  transform: perspective(800px) rotateX(-90deg);
}

.sheet-container:hover .back-sheet {
  transform: perspective(800px) rotate(0);
}

.stack--list {
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  &.languages-stack {
    margin-top: 1rem;
  }

  &.tools-stack {
    margin-top: 1rem;
  }
}

.stack--list li {
  width: fit-content;
}

.stack--list.main-stack li img {
  width: clamp(3rem, 8vw, 5rem);
  height: clamp(3rem, 8vw, 5rem);
}

.stack--list.languages-stack li img {
    width: clamp(2rem, 8vw, 3rem);
    height: clamp(2rem, 8vw, 3rem);
}

.stack--list.tools-stack li img {
    width: clamp(2rem, 6vw, 3rem);
    height: clamp(2rem, 6vw, 3rem);
}

.stack--list li img {
  @media (min-aspect-ratio: 3/4) {
    filter: grayscale();
  }
  transition: all 0.5s;
}

.stack--list li img:hover {
  filter: none;
  transform: scale(1.1);
}

.stack--list li:nth-child(even) img {
  animation: vanishInRight 1s 2.5s backwards;
  @media (min-aspect-ratio: 3/4) {
    animation:
      vanishInRight 1s 2.5s backwards,
      decolorize 1s 4s backwards;
  }
}

.stack--list li:nth-child(odd) img {
  animation: vanishInLeft 1s 2.5s backwards;
  @media (min-aspect-ratio: 3/4) {
    animation:
      vanishInLeft 1s 2.5s backwards,
      decolorize 1s 4s backwards;
  }
}

.stack--list.languages-stack li img {
  animation-delay: 2.75s, 4s;
}

.stack--list.tools-stack li img {
  animation-delay: 3s, 4s;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(30%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-30%);
  }
}

@keyframes slideOuterLeft {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOuterRight {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOuterUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes vanishInRight {
  from {
    opacity: 0;
    filter: blur(90px);
    transform: rotate(20deg) scale(2);
    transform-origin: 50% 50%;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}

@keyframes vanishInLeft {
  from {
    opacity: 0;
    filter: blur(90px);
    transform: rotate(-20deg) scale(2);
    transform-origin: 50% 50%;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}

@keyframes decolorize {
  from {
    filter: grayscale(0%);
  }

  to {
    filter: grayscale(100%);
  }
}

@keyframes typer {
  from {
    background-size: 0 200%;
  }
}

@keyframes typer-caret {
  50% {
    background-position:
      0 -100%,
      0 0;
  }
}

@keyframes background-pulse {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(2);
  }
}

@keyframes slideOuterUpAndGrow {
  0% {
    transform: translateY(100vh);
  }

  40% {
    height: 4rem;
  }

  60% {
    transform: translateX(0);
  }

  100% {
    height: 20rem;
  }
}

@keyframes scaleXY {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(var(--kf-scale));
  }
}
