@font-face {
    font-family: Slabo13px;
    src: url('/assets/Slabo13px-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('/assets/Montserrat-VariableFont_wght.ttf');
    font-display: swap;
}

@font-face {
    font-family: GloriaHallelujah;
    src: url('/assets/GloriaHallelujah-Regular.ttf');
    font-display: swap;
}

/* RESET CSS */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


body {
    --jet-black: #16161B;
    --ghostly-white: #F8F8FF;
    --vscode-top-bar-bg: #181818;
    --vscode-top-bar-text: #AAAAAA;
    --vscode-top-bar-border: #2B2B2B;
    --vscode-content-bg: #1F1F1F;
    --vscode-content-text: #9ccdc4;
        
    font-family: Montserrat, sans-serif;
    background-color: var(--ghostly-white);
    height: 100vh;
}

header {
    padding: 1rem 0;
}

main,
header {
    max-width: 43.75rem;

    @media(min-width: 95rem) {
        max-width: 56.25rem;
    }

    @media(min-width: 118.75rem) {
        max-width: 70rem;
    }

    margin: auto;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -.05rem;
    color: var(--jet-black);
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: -.1rem;
    color: var(--jet-black);
}


h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    color: var(--jet-black);
}

header a {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -.05rem;
    color: var(--jet-black);
    opacity: 0.05;
    transition: all 0.3s cubic-bezier(0.36, 0, 0.074, 0.879);
    transform-origin: 0 50%;
    transform: scaleX(0.95);
}

header:hover a {
    opacity: 1;
    transform: scaleX(1);
}